@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-siding: border-box;
}

body {
    font-family: 'Inter';
    font: size 18px;
}

.text-primary {
    color: #FF643B;
}
.btn-primary {
    color: black;
background-color: #FF643B;
border: none;
}

.btn-light {
  color: white;
  background-color: #212529;
  border: none;
}

.btn-link {
  color: #FF643B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #FF643B;
    background-color: #ffff;
}


#hero {
    width: 100%;
    height: 100vh;
    background: url(/images/Home_Page_BG_IMG\ 1.png) no-repeat center / cover;
    color: #B6B6B6
}

.container {
    align-items: top;
    justify-content: left;
    padding: 2% 2%;

}

.jumbotron {
    width: 90%;
    height: 100%
  }
 
.jumbotron {
    max-width: 800px;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 5%;
}

.jumbotron h1 {
   font-weight: 700;
   font-family: 'Inter';
}



#Amenities {
    width: 100%;
}

.container2 {
    background-color: #FF643B;
    justify-content: flex-end;
    padding-top:25px;
}

.container2 h2{
  font-weight: 700;
  
}

.card-img-overlay {
    background-color: rgba(#000, 0.6);
  }
  
.container3 {
    background-color: #000;
    justify-content: flex-end;
    padding: 3%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solidrgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #FF643B;
}

.card-img-amenities{
    width: 335%;
    margin-left: -17%; 
    margin-top: 6%;
}

  .hotspot {
    position: absolute;
    height: 24px;
    padding-top: 6px;
    border-radius: 50%;
    animation: fader 2s ease infinite;
    transition: all 0.2s;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Inter';
    font-size: 45px;
    color: white;
  }

  #hs-danceStudio {
    top: 147%;
    left: 5%;
  }
  #hs-Equipment {
    top: 147%;
    left: 40%;
  }
  #hs-Swimming {
    top: 147%;
    left: 72%;
  }

  .display-6{
    font-family: 'Inter';
    font-size: 50px;
    font-weight: bold;
  }

  .display-6-text-white {
    font-family: 'Inter';
    font-size: 50px;
    font-weight: bold;
    color: #9f9f9f;
    padding-bottom: 2%;
  }

